<%= form_with(model: curriculum) do |form| %>
  <% if curriculum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(curriculum.errors.count, "error") %> prohibited this curriculum from being saved:</h2>

      <ul>
        <% curriculum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-control">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>

    <%= form.label :grade_level %>
    <%= form.text_field :grade_level, class: "form-control" %>
  </div>
  </div>
  </div>

  <div row>
    <div class="col">
    <%= form.submit class: "btn btn-dark mt-3" %>
    </div>
  </div>
<% end %>
