<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-6">
    <div class="form-control">
 
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control" %>

    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control" %>

 
    <%= form.label :school_id %>
    <%= form.collection_select(:school_id, School.all, :id, :name, {}, {multiple: false,  class: "form-control"}) %> 


    <%= form.label :parent_first_name %>
    <%= form.text_field :parent_first_name, class: "form-control" %>


    <%= form.label :parent_last_name %>
    <%= form.text_field :parent_last_name, class: "form-control" %>
  
  
    <%= form.label :parent_relationship %>
    <%= form.text_field :parent_relationship, class: "form-control" %> 
 

    <%= form.label :parent_phone_number %>
    <%= form.text_field :parent_phone_number, class: "form-control" %> 
 
    <%= form.label :emergency_first_name %>
    <%= form.text_field :emergency_first_name, class: "form-control" %>

    <%= form.label :emergency_last_name %>
    <%= form.text_field :emergency_last_name, class: "form-control" %>

    <%= form.label :emergency_phone %>
    <%= form.text_field :emergency_phone, class: "form-control" %>
    </div>
</div>
<div class="col-md-6">
  <div class="form-control">
 
    <%= form.label :pre_survey %>
    <%= form.check_box :pre_survey, class: "form-check" %>

    <%= form.label :post_survey %>
    <%= form.check_box :post_survey, class: "form-check" %>

    <%= form.label :interest_survey %>
    <%= form.check_box :interest_survey, class: "form-check" %>

    <%= form.label :iep_or_504 %>
    <%= form.check_box :iep_or_504, class: "form-check" %>

    <%= form.label :progress_report_1%>
    <%= form.check_box :progress_report_1, class: "form-check"%>

    <%= form.label :progress_report_2 %>
    <%= form.check_box :progress_report_2, class: "form-check"%>

    <%= form.label :progress_report_3 %>
    <%= form.check_box :progress_report_3, class: "form-check" %>

    <%= form.label :progress_report_4 %>
    <%= form.check_box :progress_report_4, class: "form-check" %>
  </div>
</div>
</div>
 <div class="row g-6">
  <div class="col">
  <%= form.submit class: "btn btn-dark mt-3" %>
  </div>
</div>
<% end %>
