<style>
<%#move this to a stylesheet%>
#german {
  max-width: 800px;
}


</style>

<div class="container mt-5" id="german">
  <div class="card p-4 mb-4 shadow">
    <div class="card-body">
      <%= form_with(model: @program) do |form| %>
        <% if program.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>

            <ul>
              <% program.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-12">
            <%= form.label :season, "What semester is the program?" %>
            <%= form.text_field :season, class: "form-control" %>

            <%= form.label :days %>
            <%= form.text_field :days, class: "form-control" %>

            <%= form.label :times %>
            <%= form.text_field :times, class: "form-control" %>

            <%= form.label :user_id, "Select Facilitators" %>
            <%= form.collection_select(:user_id, User.where(facilitator: true), :id, :full_name, {}, { multiple: false, class: "form-control" }) %>

            <%= form.label :school_id, "Select Schools" %>
            <%= form.collection_select(:school_id, School.all, :id, :name, {}, { multiple: false, class: "form-control" }) %>

            <%= form.label :curriculum_id, "Select Curriculum" %>
            <%= form.collection_select(:curriculum_id, Curriculum.all, :id, :name, {}, { multiple: false, class: "form-control" }) %>

            <%= form.label :student_ids, "Select Students" %>
            <%= form.collection_select(:student_ids, Student.all, :id, :full_name, {}, {multiple: true, class: "form-control"}) %>
          </div>
        </div>
        <div class="col mt-3">
          <%= form.submit class: "btn btn-dark" %>
        </div>
        <br>
        <div class="col">
          <button class="btn btn-secondary" style="margin-right: 5px;">
            <%= link_to "Back to programs", programs_path, style: "color:white; text-decoration: none;" %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
