<style>
ul li a {
  text-decoration: none;
}

li {
  list-style-type: none;

}

td a{ text-decoration: none;

}
</style>
  <tr>
    <td><%#= program.user.first_name %>
      <%= link_to program.user.first_name, program_path(program) %>
    </td>
    <td><%= program.curriculum.name %></td>
    <td><%= program.season %></td>
    <td><%= program.days %></td>
    <td><%= program.times %></td>
    <td><% program.students.each do |student| %>
      <ul>
        <li><%= link_to student.full_name, student_path(student) %><%#= student.full_name %>
        </li>
      </ul>
    <% end %>
    </td>
    <td style="width: 200px;">
      <button class="btn btn-secondary"><%= link_to "Show", program, style: "color:white; text-decoration: none;" %></button>
      <button class="btn btn-secondary"><%= link_to "Edit", edit_program_path(program.id), style: "color: white; text-decoration: none;" %></button>
    <td>
  </tr>
</div>
